* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.menu-height {
  height: calc(100vh - 7vh);
}

// NAVBAR STYLES
.navbar-site-area {
  display: flex;
  align-items: center;
  .navbar-title {
    margin-left: 0.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #fff;
  }
}

.navbar-links {
  .navbar-item {
    text-transform: uppercase;
    transition: all 0.1s ease-in;
  }
}

.navbar-link {
  border: 2px solid red;
  text-transform: uppercase;
}

.mobile-navbar {
  border-bottom: 2px solid #71b5ff;
}

.navbar-profile-area {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
}

.login-button,
.register-button {
  white-space: nowrap;
}
